<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="page">
        <nav>
            <div class="wrapper">
                <div class="navbar flex">
                    <div class="logo-container ">
                        <span class="logo flex-group"><span class="logo-text">Living Message</span> <img src="/static/img/church-logo-adventista.png" alt="Logo image for the church" class="church-logo"></span>
                    </div>
    
                    <ul class="nav-links-container flex">
                        <li><a href="#" class="nav-links flex-group">HOMES<img src="/static/img/cross-icon.svg" alt="cross icon" class="cross-icon"></a></li>
                        <li><a href="#" class="nav-links flex-group">PAGES<img src="/static/img/cross-icon.svg" alt="cross icon" class="cross-icon"></a></li>
                        <li><a href="#" class="nav-links flex-group">SERMONS<img src="/static/img/cross-icon.svg" alt="cross icon" class="cross-icon"></a></li>
                        <li><a href="#" class="nav-links flex-group">MINISTRIES<img src="/static/img/cross-icon.svg" alt="cross icon" class="cross-icon"></a></li>
                        <li><a href="#" class="nav-links flex-group">BLOG<img src="/static/img/cross-icon.svg" alt="cross icon" class="cross-icon"></a></li>
                        <li><a href="#" class="contact nav-links">CONTACT US</a></li>
                    
                    </ul>
    
                    <a class = "donate-link">DONATE</a>
    
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
    
                <div class="mobile-nav">
                    <ul class="mobile-nav-links-container">
                        <li><a href="#" class="nav-links">HOMES</a></li>
                        <li><a href="#" class="nav-links">PAGES</a></li>
                        <li><a href="#" class="nav-links">SERMONS</a></li>
                        <li><a href="#" class="nav-links">MINISTRIES</a></li>
                        <li><a href="#" class="nav-links">BLOG</a></li>
                        <li><a href="#" class="nav-links">CONTACT US</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <main>
    
        </main>
    
        <footer>
            <div class="footer-content-container">
                <div class="wrapper grid">
              
                        <div class="footer-about">
                            <div class="footer-content-head">
                                <span></span>
                                <h4 class= "small-head">About Living Message</h4>
                            </div>
    
                            <p class = "footer-content-details">
                                Zegen Church Wordpress theme is designed for non-profit
                                church, modern church, prayer group, christian, charity,
                                non-profit organisation, Grab it soon!
                            </p>
    
                            <div class="footer-social-container flex">
                                <div class="facebook footer-social">
                                    <img src="/static/img/facebook.svg" alt="facebook social media icon" class="footer-social-img">
                                </div>
                                <div class="twitter footer-social">
                                    <img src="/static/img/twitter-icon.svg" alt="twitter social media icon" class="footer-social-img">
                                </div>
                                <div class="pinterest footer-social">
                                    <img src="/static/img/pinterest-icon.svg" alt="pinterest social media icon" class="footer-social-img">
                                </div>
                                <div class="instagram footer-social">
                                    <img src="/static/img/footer-instagram-icon.svg" alt="instagram social media icon" class="footer-social-img">
                                </div>
                                <div class="youtube footer-social">
                                    <img src="/static/img/youtube-icon.svg" alt="youtube social media icon" class="footer-social-img">
                                </div>
                            </div>
                        </div>
    
                        <div class="footer-quick-link">
                            <div class="footer-content-head">
                                <span></span>
                                <h4 class= "small-head">Quick Links</h4>
                            </div>
    
                            <ul class="quick-links-container">
                                <li><img src="/static/img/star_not-filled.svg" alt="star icon" class="quick-link-star"><a href="#" class="quick-link">Who we are?</a></li>
                                <li><img src="/static/img/star_not-filled.svg" alt="star icon" class="quick-link-star"><a href="#" class="quick-link">Support and FAQ's</a></li>
                                <li><img src="/static/img/star_not-filled.svg" alt="star icon" class="quick-link-star"><a href="#" class="quick-link">Payments</a></li>
                                <li><img src="/static/img/star_not-filled.svg" alt="star icon" class="quick-link-star"><a href="#" class="quick-link">Donations Terms</a></li>
                                <li><img src="/static/img/star_not-filled.svg" alt="star icon" class="quick-link-star"><a href="#" class="quick-link">Volunteer</a></li>
                            </ul>
                        </div>
    
                        <div class="footer-latest-news">
    
                            <div class="footer-content-head">
                                <span></span>
                                <h4 class= "small-head">Latest News</h4>
                            </div>
    
                            <a class="news flex">
                                <img src="/static/img/church-passage.jpg" alt="" class="news-banner-img">
                                <div class="news-content-wrapper">
                                    <h4 class="footer-subhead">Giving Back - Uganda Training Centers</h4>
                                    <span class= "news-date-span flex-group"><img src="/static/img/footer-date-icon.svg" alt="" class="date-icon">Oct 21, 2019</span>
                                </div>
                            </a>
    
                            <a class="news flex">
                                <img src="/static/img/some-people-church.jpg" alt="" class="news-banner-img">
                                <div class="news-content-wrapper">
                                    <h4 class="footer-subhead">Giving Back - Uganda Training Centers</h4>
                                    <span class = "news-date-span flex-group"><img src="/static/img/footer-date-icon.svg" alt="" class="date-icon">Oct 21, 2019</span>
                                </div>
                            </a>
                        </div>
    
                        <div class="footer-newsletter">
                            <div class="footer-content-head">
                                <span></span>
                                <h4 class= "small-head">Newsletter</h4>
                            </div>
    
                            <p class = "footer-content-details">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Harum molestias in unde nostrum a, quaerat facere laborum
                                commodi quod iste dolore obcaecati  
                              
                            </p>
    
                            <div class="newsletter-input-div flex-group">
                                <input type="text" placeholder="Email Address" class= "newsletter-input">
                                <button class= "newsletter-btn">Sign Up</button>
                            </div>
                        </div>
                   
                </div>
            </div>
        </footer>
    </div>

</body>
</html>